<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https://zeeproshare.com" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="^localhost" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^zhomedev\.azurewebsites\.net$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://zeeproshare.com{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Règle de réécriture1 pour Official_March_2015" stopProcessing="false">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{Official_March_2015:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="CodeIgniter" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Official_March_2015">
                    <add key="/assets/images/Zeepro_Zim_official_March_2015.jpg" value="/my_3d_print_with_zeepro/Zeepro_Zim_official_March_2015" />
                    <add key="/assets/images/ZeeproShare_official_March_2015.jpg" value="my_3d_print_with_zeepro/ZeeproShare_official_March_2015" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
	<staticContent> <!-- convert json file into static file to enable /assets/countriesToCities.json, PNI 20150515 -->
		<mimeMap fileExtension=".json" mimeType="application/json" />
	</staticContent>
    </system.webServer>
</configuration>